html {
	height: 100%;
	overflow: ;auto
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
}

#background {
	overflow: hidden;

}

#solids {
	position: fixed;
	top: 0;
	left: 0;
}

#stars {
	position: fixed;
	top: 0;
	left: 0;
}

#sparkles {
	position: fixed;
	top: 0;
	left: 0;
}

#out {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	z-index: 100;
	color: white;
}

#mainContainer {
	height: 100%;
	width: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#paragraphs {
	overflow: scroll;
	top: 0;
	left: 0;
	z-index: 101;
}

