body {
	background-image: url("chance3.png");
	font-family: helvetica;
	color: white;
	min-width: 530px;
}

#spotlight {
	display: block;
	border: solid white;
	border-width: 1px;
	padding: 5px;
	width: 350px;
	margin: auto;
	margin-top: 30px;
	font-size: 40px;
	text-align: center;
}
h2.yellowspot {
	display: block;
	border: solid yellow;
	border-width: 1px;
	padding: 5px;
	width: 500px;
	margin: auto;
	margin-top: 30px;
	border-color: yellow;
	font-size: 50px;
	color: yellow;
	text-align: center;
}
a:link {
	color: black;
}
a:visited {
	color: purple;
}

#chancehead {
	float: right;
	margin-top: -250px;
	z-index: -1;
}
#first {
	margin-top: 20px;
}

@media screen and (max-width: 700px) {
  #spotlight {
    font-size: 30px;
    width: 230px;
  }
  h2.yellowspot {
  	font-size: 35px;
  	width: 350px;
  }
}

